:root {
  --bg: #ffffff;
  --text: #1e293b;
  --nav:   #1e293b;
  --nav-text: #e2e8f0;
  --panel: #f1f5f9;
}

/* === MODO OSCURO === */
html.dark {
  --bg: #0f172a;
  --text: #e2e8f0;
  --nav: #1e293b;
  --nav-text: #5ccdcb;
  --panel: #1e293b;
}

/* === APLICAR LAS VARIABLES === */
body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
}

/* Navbar */
nav {
  background-color: var(--nav) !important;
  color: var(--nav-text) !important;
  transition: background-color 0.3s, color 0.3s;
}

/* Paneles */
.card, .panel {
  background-color: var(--panel);
  color: var(--text);
  border-radius: 12px;
  padding: 1rem;
  transition: background-color 0.3s, color 0.3s;
}
